@tailwind base;
@tailwind components;
@tailwind utilities;

/* fullâ€page background image */
body {
  background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: center;
}